body {
        background-image: url(https://is5-ssl.mzstatic.com/image/thumb/PurpleSource123/v4/0e/69/68/0e696812-0721-da98-f25c-6183fe9a024b/aeae359d-71b0-4985-ab6a-bb5fccd29726_02.png/643x0w.jpg);
      }
       p1 {
        color:00FFF9;
        font-size: 1000px;
        
      }
